html {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  min-height: 30rem;
  /*background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  /*margin: 0;*/
}

nav {
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /*height: 3rem;*/
  padding: 1rem 0;
  /*margin-left: 4rem;
  margin-right: 4rem;*/
}

li {
  display: inline;
  padding: 0 1rem;
}

nav div {
  display: flex;
  align-items: center;
  /*align-content: space-between;*/
  justify-content: center;

}

nav img {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.menu {
  display: flex;
  align-content: space-around;
  margin-right: 1rem;

}

.mobile-menu {
  display: none;
}

.flex {
  display: flex;
}

header .flex {
  justify-content: flex-end;
}

.banner {
  background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: 4rem;
  padding: 1.5rem 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-right: -2rem;
}

.banner h1 {
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.title {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  background-color: cadetblue;
}

body {
  margin: 0 auto;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin: 3rem;
  width: 5rem;
}

.services img {
  width: 5rem;
}

.supporting {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  padding: 4rem 2rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 3rem;
  background-color: azure;
}

footer img {
  /*display: inline;
  align-content: center;
  align-items: center;
  justify-content: center;*/
  padding-right: 1rem;
  padding-left: 3rem;
  height: 1.5rem;
}


footer div {
  display: inline-flex;
  align-items: center;
  /*align-content: center;*/
  /*justify-content: center;*/
}

.info p {
  /*display: flex;*/
  padding: 1rem 0;
}

.info .title {
  padding: .5rem 1.25rem;
  max-width: 10rem;
}

.info {
  margin-right: 5%;
  width: 35%;
  margin-bottom: 4rem;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  header {
    padding-top: 0rem;
    min-height: 22rem;
    /*position: absolute;*/
  }
  h1 {
    font-size: 1.33rem;

  }
  li {
    padding-right: .5rem;
    font-size: 1em;
  }
  .menu {
    width: 100%;
  }
  nav {
    margin-top: 0rem;
    padding: 1rem 0;
  }
  nav.container p {
    max-width: 100%
  }
  .banner h1 {
    /*padding: .75rem 4rem;
    margin-right: 2rem;*/
    display: inline;
  }
  .banner {
    margin-right: 2rem;
    /*maring-left: 2rem;*/
    margin-top: 5rem;
  }
  footer {
    padding: 4rem 0rem;
  }
  .supporting {
    margin: 0rem;
  }
}

@media only screen and (max-width: 560px) {
  nav.container {
    /*width: 100%;*/
  }

  nav .mobile-menu {
    display: inline;
  }
  .menu {
    display: none;
  }
  .banner {
    width: 100%;
    /*height: auto;*/
    text-align: center;
    padding: 0 1rem;
    margin-top: 9rem;
    max-height: 3rem;
    /*background-position: none;*/
  }

  .services {
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    height: auto;
    margin: .77rem;
    font-size: .77rem;
  }
  header .banner {
    /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");*/
    width: 100%;
    height: 17rem;
    /*margin: 9rem auto 0 auto;*/
    /*background-size: contain;*/
    /*background-position: left;*/
  }

  .banner img {
    /*height: 100%;*/
    /*width: 100%;*/
  }

  .banner h1 {
    padding: 1rem 1rem;
    width: 100%;
    /*display: block;*/
    margin-top: 9rem;
    max-height: 3rem;
  }

  .supporting {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
  }
  .info {
    width: 100%;
  }
  .info .title {
    width: 100%;
    max-width: none;
    margin-right: 0;
    text-align: center;
  }
}
